.style-0 {
    empty-cells: show; 
    table-layout: fixed; 
    width: 468pt
}

.style-1 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-2 {
    width: 624px; 
    height: 432px
}

